* {
  margin: 0;
  padding: 0;
}
body {
  margin: 10px;
  padding: 10px;
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: var(--clr-primary-7);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 10px;
  /*border: 1px solid green;*/
}
.close-btn {
  position: fixed;
  top: 5rem;
  left: 18rem;

  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
}
.close-btn:hover {
  color: lightcoral;
  transform: rotate(180deg);
}
.logo {
  /*border: 1px solid red;*/
  justify-self: flex-start;
  /*height: 40px;*/
  height: auto;
}
.links {
  /* border: 1px solid red;*/
  position: absolute;
  top: 8rem;
  left: 1rem;
}
.links li {
  list-style: none;
}
.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.75rem;
}
.social-icons {
  /* border: 1px solid red;*/
  justify-self: flex-start;
  display: flex;
  padding-bottom: 2rem;
  align-items: flex-end;
  height: 25rem;
}
.social-icons {
  list-style: none;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: lightskyblue;
}
.social-icons a:hover {
  color: darkgrey;
}
.sidebar {
  /* border: 1px solid red;*/
  position: fixed;
  top: 5rem;
  left: 1rem;
  width: 100%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
